{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Hola {{user.username }}!</h2>
        <button><a href="{% url 'logout' %}">logout</a></button>
        <button><a href="place/create/">Dar de alta un puesto de garnachas</a></button>
        {% if places%}
            {% for place in places %}
                <ul>
                    <li>{{place.name}} en {{place.city}}</li>
                    <button><a href="place/detail/{{place.id}}">detalles</a></button>
                </ul>
            {% endfor %}
        {% endif %}
    {% else %}
        <p>No has iniciado sesión</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}